.pricing-section {
    padding: 3em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

// @media only screen and (max-width: 768px) {
//     .pricing-card {
//         min-width: 80%;
//     }
// } 