.show-case {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    gap: 1.5em;

    @media (max-width: 800px) {
        max-width: 80%;
        flex-wrap: wrap;
        padding: 1em;
    }
}

.show-case-desc {
    color: gray;
}

.show-case-image {
    width: 60%;
}