*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

li {
  list-style: none;
}


.App {
  background-color: var(--theme-page-background);
  min-height: 100vh;
}